.control-main {
  &__item {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
  }
}

.main {
  width: 100%;
  padding: 0 2.2rem;
}

.race {
  &__control {
    margin-bottom: 2em;
  }
}

.members-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  &__controls {
    display: flex;
    align-items: center;
  }

  &__name {
    margin: 0;
    margin-left: 0.5em;
  }

  &__img {
    width: 3rem;
  }

  &__track-controls {
    display: flex;
  }

  &__button {
    cursor: pointer;
  }

  &__track-button {
    cursor: pointer;
  }
}

.winners {
  display: none;
}