* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Menlo-Regular';
  background-color: $back;
  color: $text;

  width: 100%;
  height: 100%;
}

.not-active {
  display: none!important;
}

.winners {
  &__header {
    width: 100%;
    text-align: center;
  }
}

.table {
  display: table;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 8em;
  text-align: left;

  &__img {
    width: 4rem;
  }

  &__header-item {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
	  background-color: #1F2739;
    cursor: pointer;
  }
  
  &__header-item:hover {
	  background-color: #bab052;
  }

  &__column {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    transition: 0.3s all;
  }

  &__column:first-child {
    color: #FB667A;
  }

  &__column, &__header-item {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
  }

  &__row:nth-child(odd) {
	  background-color: #323C50;
  }

  &__row:nth-child(even) {
	  background-color: #2C3446;
  }

  &__row:hover {
	  background-color: #bab052;
    color: #403E10;
    font-weight: bold;
  }
}

.footer {
  width: 100%;
  padding: 2.2rem;
}

.app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41,41,41,.6);
  opacity: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: opacity .3s;

  &--open {
    transform: translateX(0);
    opacity: 1
  }

  &__window {
    position: absolute;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    gap: 30px;
    align-items: center;
    background: #62757d;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13,13,13,.04)
  }

  &__button {
    position: absolute;
    top: -50px;
    right: -41px;
    width: 50px;
    height: 50px;
    border: 2px solid #c0d6df;
    background-color: rgba(0,0,0,0);
    background-image: url('./img/close-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    cursor: pointer;
    transition: all .3s
  }

  &__button:hover {
    background-color: #c0d6df;
    border-color: #c0d6df;
  }

  &__button:active {
    background-color: #4e7889;
  }

  &__text {
    font-size: 20px;
    color: #fff;
    text-align: center
  }

  &__img {
    display: none;
    border-radius: 9px 0px 0px 9px;
    width: 300px;
    height: 300px
  }

  &--update &__img {
    display: block
  }
}