* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Menlo-Regular';
  background-color: $back;
  color: $text;

  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 2.2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  width: 100%;

  &__a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    color: rgba(255,255,255,.5);
    text-decoration: none;
    cursor: pointer;
  }

  &__img {
    display: block;
    width: 4rem;
    margin-right: 0.5em;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;

  &__item {
    padding: 0.5em 1em;
    color: rgba(255,255,255,0.8);
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  &__item + &__item {
    margin-left: 1em;
  }
}

.control-main {
  &__item {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
  }
}

.main {
  width: 100%;
  padding: 0 2.2rem;
}

.race {
  &__control {
    margin-bottom: 2em;
  }
}

.members-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  &__controls {
    display: flex;
    align-items: center;
  }

  &__name {
    margin: 0;
    margin-left: 0.5em;
  }

  &__img {
    width: 3rem;
  }

  &__track-controls {
    display: flex;
  }

  &__button {
    cursor: pointer;
  }

  &__track-button {
    cursor: pointer;
  }
}

.winners {
  display: none;
}

.footer {
  width: 100%;
  padding: 2.2rem;
}

.app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41,41,41,.6);
  opacity: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: opacity .3s;

  &--open {
    transform: translateX(0);
    opacity: 1
  }

  &__window {
    position: absolute;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    gap: 30px;
    align-items: center;
    background: #62757d;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13,13,13,.04)
  }

  &__button {
    position: absolute;
    top: -50px;
    right: -41px;
    width: 50px;
    height: 50px;
    border: 2px solid #c0d6df;
    background-color: rgba(0,0,0,0);
    background-image: url('./img/close-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    cursor: pointer;
    transition: all .3s
  }

  &__button:hover {
    background-color: #c0d6df;
    border-color: #c0d6df;
  }

  &__button:active {
    background-color: #4e7889;
  }

  &__text {
    font-size: 20px;
    color: #fff;
    text-align: center
  }

  &__img {
    display: none;
    border-radius: 9px 0px 0px 9px;
    width: 300px;
    height: 300px
  }

  &--update &__img {
    display: block
  }
}