.members {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  &__nav {
    display: flex;
    align-items: center;
  }

  &__name {
    margin: 0;
    margin-left: 0.5em;
  }

  &__img {
    width: 3rem;
  }

  &__track-nav {
    display: flex;
  }

  &__button {
    cursor: pointer;
  }

  &__track-button {
    cursor: pointer;
  }
}