.members {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  &__nav {
    display: flex;
    align-items: center;
  }

  &__name {
    margin: 0;
    margin-left: 0.5em;
  }

  &__img {
    width: 3rem;
  }

  &__track-nav {
    display: flex;
  }

  &__button {
    cursor: pointer;
  }

  &__track {
    display: flex;
    align-items: flex-end;
    min-height: 60px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px dashed;
    background-image: url('../../../../../../img/finish.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
  }

  &__track-button {
    cursor: pointer;
  }
}