.members {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  &__nav {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    margin-bottom: 1rem;
  }

  &__name {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    font-size: 2rem;
    opacity: 0.6;
    transform: translateY(-50%);
  }

  &__img {
    width: 3rem;
    transform: translate(0) rotate(0deg);
  }

  &__track-nav {
    display: flex;
  }

  &__button {
    cursor: pointer;
  }

  &__track {
    display: flex;
    align-items: flex-end;
    min-height: 60px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px dashed;
    background-image: url('../../../../../../img/finish.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
  }

  &__track-button {
    cursor: pointer;
  }
}